@{
    ViewBag.Title = "Contact";
}


<div class="Contact" style="margin-left:70px;">
    <br />
    <br />
    <h1 style="text-align:center"><strong><u>Reach Our Appropriate Team</u></strong></h1>
    <br />
    <br />
    <br />
    <br />
    <img src="~/Content/Pictures/40578885-e3bf4e8e-6139-11e8-8be4-92fc3149f6f0.jpg" class="i1" style="height:77px;width:82px" />
    <h1 style="padding-left:100px;margin-top:-75px"><strong>CUSTOMER SUPPORT</strong></h1>
    <p style="padding-left:100px"><strong>For support and other queries, Please Reach Us at- +91-9748725720 / +91-7003095537.</strong></p>
    <br />
    <br />
    <br />
    <br />

    <img src="~/Content/Pictures/download.png" class="i2" style="height:77px;width:82px" />
    <h1 style="padding-left:100px;margin-top:-75px"><strong>CUSTOMER SECURITY</strong></h1>
    <p style="padding-left:100px"><strong>If you have security concerns, please report your issues with PHOTO GALLERY at abhishaw051@gmail.com.</strong></p>

    <br />
    <br />
    <br />
    <br />

    <img src="~/Content/Pictures/Copyright.png" class="i2" style="height:77px;width:82px" />
    <h1 style="padding-left:100px;margin-top:-75px"><strong>For Copyright Issues</strong></h1>
    <p style="padding-left:100px"><strong>For Copyright issues or other media related queries please reach out at abhishaw051@gmail.com</strong></p>
    <br />
    <br />
    <br />
    <br />

    <img src="~/Content/Pictures/Location.jpg" class="i4" style="height:77px;width:82px" />
    <h1 style="padding-left:100px;margin-top:-75px"><strong>Office Address</strong></h1>
    <p style="padding-left:100px">
        <strong>
            REGISTERED OFFICE :-
            <br />
            <br />
            <br />
            PHOTO GALLERY Pvt Limited
            <br />
            <br />
            <br />
            Sadar Bazar Barrackpore,
            <br />
            <br />
            #7, Muchi Mahal Sadar Bazar,
            <br />
            <br />
            North 24 Parganas,Kolkata,
            <br />
            <br />
            West Bengal,Kol-700120
            <br />
            <br />

            Phone Number +91-9748725720 / +91-7003095537
            <br />
            <br />
        </strong>
    </p>

</div>
