
@{
    ViewBag.Title = "Dashboard";
}

<h2 style="text-align:center">Dashboard</h2>
<hr class="new1">
<table>
    <tr>
        <th>
            @Html.ActionLink("Check Your Contest Images", "UserUploadedContestImages")
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>

            @Html.ActionLink("Upload Photo In Community", "UserCommunityImage")
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>

            @Html.ActionLink("Add Photo In Community", "UploadYourImage")
        </th>
    </tr>

   
   
</table>


<style>
    .new1 {
        border-top: 2px solid black;
    }
</style>